</main>

<!--
this is just to help with debugging.
would recommend storing the user entirely

-->
<div class="mb-4">
<h3>Debug</h3>
<pre>
    <%= JSON.stringify(user, null, 2); %>
</pre>
</div>

<footer class="footer">
    <p>Copyright &copy; All Rights Reserved. <%= new Date().getFullYear() %> Wardrobe Catalog</p>
</footer>
