<nav>
    <a href="/items/new">Create New Item</a>
</nav>
<div class="container">
    
    <ul>
    
    <% allItems.forEach(item => { %>
        <li>
            <a href="/items/<%= item._id %>">
                <img src="<%= item.img%>" alt="picture">
            </a>
        </li>
    <% }) %>

    </ul>
    
</div>